.OfferBar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  right: 0%;
  width: 30%;
  height: 160%;
  transform: translateY(-50%);
  background-color: rgb(228, 162, 40);
  background-image: linear-gradient(
    to right,
    rgb(201, 68, 68),
    rgb(228, 162, 40)
  );
  border-radius: 50px 0px 0px 50px;
  padding: 7px;
}

.OfferBar div {
  /* position: absolute; */
  text-align: center;

  width: 60px;
  height: 60px;
  background-color: #1e7020;
  border-radius: 50%;
  justify-content: center;
  animation: bloob 1s infinite;
}

@keyframes bloob {
  0% {
  }
  30% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.OfferBar p {
  padding-top: 8%;
  margin: auto;
  font-size: 0.9em;
  font-family: Poppins;

  color: #ffffff;
  margin: 0px 0px 0px;
}
.OfferBar h8 {
  padding-left: 0.5em;
  color: #ffffff;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-iteration-count: infinite;
}

.OfferBar:hover {
  cursor: pointer;
  background-image: none;
  background-color: rgb(201, 68, 68);
}

@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 80%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 0%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
